<div class="alain-default__content-title">
  <h1>Exchange API Setting</h1>
</div>
<nz-card [nzBordered]="false">
  <form nz-form>
    <nz-form-item>
      <nz-form-label [nzSm]="5" nzRequired>Exchange Name</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <nz-select
          nzAllowClear
          nzShowSearch
          nzPlaceholder="Exchange"
          [(ngModel)]="selectExchange"
          [ngModelOptions]="{ standalone: true }"
          (ngModelChange)="onSelectedExchange($event)"
        >
          <nz-option *ngFor="let e of listOfData" [nzValue]="e.id" [nzLabel]="e.exchange"></nz-option>
        </nz-select>
      </nz-form-control>
      <span *ngIf="statusControl == true" style="padding: 4px; margin-left: 5px; color: red">
        Exchange is not available at the moment*
      </span>
    </nz-form-item>

    <nz-form-item *ngIf="selectedExchange === 'Coincheck'">
      <nz-form-label [nzSm]="5" nzRequired>Module</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <nz-select
          nzAllowClear
          nzShowSearch
          nzPlaceholder="Module"
          [(ngModel)]="selectModule"
          [ngModelOptions]="{ standalone: true }"
          (ngModelChange)="onSelectedModules($event)"
        >
          <nz-option *ngFor="let e of moduleList" [nzValue]="e" [nzLabel]="e"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngFor="let inputName of formJson; let i = index" [label]="inputName.label">
      <nz-form-label [nzSm]="5" [nzXs]="20" nzRequired>{{ inputName.label }}</nz-form-label>
      <nz-form-control>
        <nz-input-group style="width: 100%" [nzSuffix]="suffixTemplate">
          <input
            [disabled]="statusControl || !inputName.isRequired"
            [type]="inputName.isVisible ? 'text' : 'password'"
            nz-input
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="inputName.value"
            [name]="inputName.key"
          />
        </nz-input-group>
        <p style="padding: 4px; margin-left: 5px; color: red" *ngIf="!inputName.value && inputName.isRequired">
          {{ inputName.label }} required
        </p>
        <ng-template #suffixTemplate>
          <i
            style="cursor: pointer"
            nz-icon
            [nzType]="inputName.isVisible ? 'eye' : 'eye'"
            (click)="inputName.isVisible = !inputName.isVisible"
          ></i>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzSpan]="14" [nzOffset]="5">
        <button [disabled]="!selectExchange || statusControl" nz-button nzType="primary" (click)="submit(selectExchange)">Submit</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
